@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: purple;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    padding-left: 12px;
}
nav ul{
    list-style-type: none;
}
li{
    color:white;
}
li:hover{
    color:green;
}
.gamecontainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    /* background-color: violet; */
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    /* here we are using vw for responsivness */
}
.box{
    border:2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(215, 172, 255);
}
.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}
.gameinfo{
    padding:0px 32px;
    font-family: 'Cabin', sans-serif;
}
#reset{
    margin: 5px 30px;
    padding: 6px 16px;
    background-color: rgb(252, 230, 252);
    border-radius:6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
}
#reset:hover{
    background-color:rgb(216, 178, 178);
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right:0;
}
.info{
    font-size: 2rem;
}
.information{
    margin-top: 1.3em;
}
@media only screen and (max-width: 900px) {
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
}
